// Body
$theme-colors: (
  "lightgrey": #f6f5f5,
  "midgrey": #bebdbf,
  "darkgrey": #403a40
);

$border-color: #bebdbf;

// Navbar
$navbar-toggler-border-radius: 0;
// $transition-collapse: 0 .65s ease;

// Forms
$input-bg: #f6f5f5;
$input-border-color: #bebdbf;
$input-border-radius: 1px;
$input-border-width: 1px;
$input-placeholder-color: #6c757d;
$input-focus-border-color: #6c757d;
$input-btn-focus-box-shadow: none;
// Buttons
$btn-border-radius: 1px;
$btn-transition: color .05s ease-in-out, background-color .05s ease-in-out, border-color .05s ease-in-out, box-shadow .05s ease-in-out;

// Lists
$list-group-color: #000;
$list-group-bg: transparent;
$list-group-border-width: 0;
$list-group-active-color: #af0caf;
$list-group-item-padding-y: 0.1rem;
$list-group-item-padding-x: 0rem;

// Fonts
$font-family-sans-serif: "Helvetica", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Custom styles
@import "custom";

@import "../node_modules/bootstrap/scss/bootstrap";