// react day picker styles
.DayPicker {
	line-height: 1.2rem !important;
}

.DayPicker-Day--today {
  color: #3937d3 !important;
}

.day-selector {
	text-align: start;
	border: none;
	background-color: #fff;
	width: 8rem;
}

.day-selector::placeholder {
	color: #000;
}

@import "daystyle";