// react day picker styles
.DayPicker {
	line-height: 1.2rem !important;
}

// .DayPicker-Day--today {
//   color: #e41150 !important;
// }

.day-selector {
	text-align: start;
	border: none;
	background-color: #fff;
	width: 8rem;
}

.day-selector::placeholder {
	color: #000;
}

.DayPicker-Day--highlighted {
  background-color: orange;
  color: white;
}

@import "daystyle";